<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's The Sign?</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class=" bg-no-repeat bg-fixed h-full bg-gradient-to-b from-violet-500 to-fuchsia-500">
        
    <h1 class="sm:text-5xl text-4xl text-center my-5" >Sign Detection</h1>
    <form method="POST"  enctype="multipart/form-data" >
        <div class=" flex flex-col justify-center items-center sm:my-48">
            <h1 class=" flex-1 align-center text-lg text-center">Put in the Picture and We Will Figure out The Number/Alphabet:</h1>
            <input type="file" class="text-sm m-3 p-3 text-slate-900 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0
            file:text-sm file:font-semibold file:bg-emerald-500 file:text-violet-200 hover:file:bg-emerald-900" id="img" name="Image" accept="image/*">
            <button type="Submit" class="flex-1 my-10 bg-orange-400 rounded p-3 hover:bg-orange-800 hover:border-orange-500 border-2"> Upload Photo </button>
        </div>
    </form>
    
    
</body>
</html>