<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's The Sign?</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class=" bg-no-repeat bg-fixed h-full bg-gradient-to-b from-violet-500 to-fuchsia-500">
        
    <h1 class="sm:text-5xl text-4xl text-center underline decoration-wavy my-5" >Learn Sign</h1>
    
    <div class="flex flex-col p-10 text-center justify-items-start text-slate-50 bg-opacity-50 bg-slate-500 rounded mx-10 my-10 sm:mx-40">
      <p class="flex-1"> Sign languages (also known as signed languages) are languages that use the visual-manual modality to convey meaning. Sign languages are expressed through manual articulations in combination with non-manual elements. Find below the representations 
        of various alphabets in sign. </p> 
        <div class=" flex-grow">
            <img class="sm:mt-10 mt-5 mx-auto align-middle" src="{{url_for('static',filename='imgs/ASL_Alphabet.jpg')}}" alt="">
        </div>
    </div>
    
    
</body>
</html>